[submodule "clang"]
	path = clang
	url = http://llvm.org/git/clang.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "include"]
	path = include
	url = ../skepu-headers.git
